{# app/templates/homepage.html #}

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	<h1>Bienvenue sur mon site web développé en Flask.</h1>
	<p></p>
	<form method="post" enctype="multipart/form-data" action="/resultat">
	  <div>
	    <label>Nom :</label> <input type="text" name="nom" />
	  </div>
	  <div>
	    <label>Prénom :</label> <input type="text" name="prenom" />
	  </div>
	  <div>
	    <label for="gpx_file">fichier GPX</label>
	    <input type="file" id="gpx_file" name="gpxFile">
	  </div>
    <div class="button">
        <button type="submit">Envoyer le fichier</button>
    </div>
	</form>

{% endblock %}
